<%= @category.name %><br>
<ul>
  <% @category.posts.each do |post| %>
    <li><%= link_to post.title, post %></li>
  <% end %>
</ul>
<%= link_to 'Back', '/categories' %>&mdash;<%= link_to 'Edit', "/categories/#{@category.id}/edit" %>
